<form action="/admin/process-login" method="POST">

    <label>Email</label><br>
    <input type="email" name="email"><br><br>

    <label>Password</label><br>
    <input type="password" name="password"><br><br>

    <button>Submit</button>

    {{ message }}

</form>